---js
const obj = {
    "item1": {
      "SubItem1": "abc",
      "SubItem2": "abc",
      "SubItem3": {
        "SubSubItem": "abc"
      }
    },
    "Item2": "abc",
    "Item3": "abc"
  }
const bi = BigInt(9007199254740991)
const func = ()=>{}
const array = [ 1, 2, "a", "b", {a:1}]
---

<!DOCTYPE html>
<html lang="en">
  <head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <link rel="stylesheet" href="/main.css">
    <title>Console Plus Test file</title>
  </head>
  <body>
    <p class="text-3xl">Examples with titles</p>
    {% console "some string", "string" %}
    {% console obj ,"object" %} 
    {% console 123,"number" %} 
    {% console 123.456,"float" %} 
    {% console null,"null" %} 
    {% console undefined,"undefined" %} 
    {% console bi,"bigint" %} 
    {% console true,"boolean" %} 
    {% console func,"function" %} 
    {% console array,"array" %} 
     <p class="text-3xl">Examples without titles</p>
    {% console "some string", "string" %}
    {% console obj  %}
    {% console 123 %}
    {% console 123.456 %}
    {% console null %}
    {% console undefined %}
    {% console bi %}
    {% console true %}
    {% console func %}
    {% console array %}
    </body>
</html>
